.card-container {
  display: flex;
  width: 650px;
  height: auto;
  background: linear-gradient(to right, #024945, #12a89c); /* #2FEBD4, #DEFFFD*/
  border-radius: 12px;
  box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, 0.15);
}
