---
import { getEntry } from "astro:content";
import { render } from "astro:content";
import FriendLinks from "../components/FriendLinks.astro";
import Markdown from "../components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const friendLinks = [
	{
		name: "当下",
		description: "每月空瓶日记～",
		avatar:
			"https://image.ahalo.ren/games/_cache_images_05edeab0826178d152ba7833736e2610_webp-jpg-800-None.webp",
		url: "https://blog.fueis.com/",
	},
	{
		name: "Randy's Blog",
		description: "爱写作与思考的程序员",
		avatar: "https://image.ahalo.ren/games/randy blog.jpg",
		url: "https://lutaonan.com/",
	},
	{
		name: "静かな森",
		description: "致虚极，守静笃。",
		avatar: "https://image.ahalo.ren/games/sCdwsT.png",
		url: "https://innei.in/",
	},
];
const linksInfo = await getEntry("spec", "links-info");

if (!linksInfo) {
	throw new Error("Links info not found");
}

const { Content } = await render(linksInfo);
---

<MainGridLayout title={i18n(I18nKey.links)} description={i18n(I18nKey.links)}>
  <div class="w-full h-full">
    <Markdown class="mt-4"><Content /></Markdown>
    <FriendLinks links={friendLinks} class="mt-4" />
  </div>
</MainGridLayout>
