---
//src/components/Card.astro
const { name, type, image, year } = Astro.props;

import { Badge, Card } from "accessible-astro-components";
---

<Card class="text-black/75 dark:text-white/75" img={image} title={name}>
  <span slot="meta">
    <Badge type="info" animateOnHover>{type}</Badge>
  </span>
  <p class="text-sm">
    攻略时间: {
      new Date(year).toLocaleDateString("zh-CN", {
        year: "numeric",
        month: "numeric",
        day: "numeric",
      })
    }
  </p>
</Card>

<style>
  :global(.card) {
    border: 2px solid oklch(0.65 0.125 var(--hue));
  }

  :global(.card:hover) {
    box-shadow: 0 4px 6px -1px oklch(0.65 0.125 var(--hue));
  }
</style>
